.contact{
    .form{
        background-color: rgba(242, 242, 245, 0.733);
        div{
            background-color: rgb(0, 0, 0);
            label{
                color: white;
            }
        }
    }
}