@media(min-width: 992px ){
    main{
        .imagenes_inicio{
            grid-template-columns: repeat(3, 1fr);
            .imagenes-3{
                display: flex;
            }
        }
    }

}

@media(min-width: 1200px){
    main{
        .imagenes_inicio{
            grid-template-columns: repeat(4, 1fr);
            .imagenes-4{
                display: flex;
            }
        }
        }
}