@media(min-width: 992px ){
    main{
        .imagenes_inicio{
            grid-template-columns: repeat(3, 1fr);
            .imagenes-3{
                display: flex;
            }
        }
    }

}

@media(min-width: 1200px){
    main{
        .imagenes_inicio{
            grid-template-columns: repeat(4, 1fr);
            .imagenes-4{
                display: flex;
            }
        }
        }
}


@media(min-width: 768px){
    .Cuerpo-xb{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .tarjeta{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}

@media(min-width: 992px){
    .Cuerpo-xb{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media(min-width:1400px){
    .Cuerpo-xb{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}