.inf{
    .cuerp{
        display: grid;
        align-items: center;

    }
    .Mapa{
        background-color: rgba(255, 255, 255, 0.801);
        display: inline-block;
        text-align: center;
    }
    .horarios{
        text-align: center;
        display: inline-block;
        h4{
            background-color: white;
            
        }
        ul{
            list-style: none;
            display: block;
            background-color: rgba(255, 255, 255, 0.801);
        }
    }
}