main{
    .tarjeta{
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.780);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        padding: 10px;
        .juegos-img{
            text-align: center;
        }
        
        .juegos-desc{
            padding: 20px;
            text-align: center;
            
            .descripcion{
                display: inline-block;
                text-align: center;
                overflow: auto;
                width: 250px;
                height: 100px;
                
                p{
                    background-color: black;
                    padding: 0;
                    color: white;
                }
                
            }
            .btrailer{
                padding: 10px;
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    background-color: red;
                    border: 2px solid rgb(0, 0, 0);
                    border-radius: 10px;
                }
            }
        }
    }
}